@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 33% 94%;
    --foreground: 224 28% 26%;

    --card: 40 33% 94%;
    --card-foreground: 224 28% 26%;

    --popover: 40 33% 94%;
    --popover-foreground: 224 28% 26%;

    --primary: 224 28% 26%;
    --primary-foreground: 40 33% 94%;

    --secondary: 210 18% 77%;
    --secondary-foreground: 224 28% 26%;

    --muted: 210 18% 77%;
    --muted-foreground: 224 20% 45%;

    --accent: 210 18% 85%;
    --accent-foreground: 224 28% 26%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 210 18% 82%;
    --input: 210 18% 82%;
    --ring: 224 28% 26%;

    --radius: 0.25rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tight;
  }
}
